/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29.04.2019, 13:49:10
    Author     : andreev_af
*/

.site-description{
    font-size: 40px;
    line-height: 1.15;
    border-radius: 5px;
    position: absolute;
    left: 380px;
    top: 40px;
    background-color: rgba(21,28,111,0.4);
    /*color: rgba(1,95,145,1);*/
    /*color: rgba(255,255,255,1);*/
    color: #fff;
    padding: 130px;

}

.sidebar-nav{
    /*background-color: #6DF2AB;*/
    background-color: #FFD973;
}

.logo{
    margin-top: 20px;
}

#sidebar{
    position: absolute;
    /* position: relative; */
    top: 180px;
    width: 339px;
}