/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.04.2019, 13:49:10
    Author     : andreev_af
*/

.site-description{
    font-size: 16pt;
}

.sidebar-nav{
    /*background-color: #6DF2AB;*/
    background-color: #FFD973;
}